.poster {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    background-repeat: no-repeat;
    overflow: hidden;
}

.buttons{
    width: 300px;
    height: 10px;
    float: right;
    background-color: #333333
}

.b1{
    background-color: #333;
    color: #3c00ff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.b1:hover{
    background-color: white;
    color: blue;
}

body {
    background-image: url("http://media.steampowered.com/apps/csgo/blog/images/wallpaper_nologo.jpg");
    font-size: 18px;
    color: #222;
    font-family: Arial;
    box-sizing: border-box;

}

.login-box {
    display: flex;
    flex: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 300px;
    height: 450px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 2px 5px 10px 2px #282828;
}

.login-box1 {
    display: flex;
    flex: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 2px 5px 10px 2px #282828;
}

.left {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    padding: 40px;
    flex-basis: 50%;
    height: 100%;
}

.left h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"], input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 5px;
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-weight: 400;
    font-size: 16px;
}

input[type="text"]:hover, input[type="password"]:hover {
    border-bottom: 3px solid #848484;
}

input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #6296af;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #282828;
}


.navbar{
    background-color: #333333;
    opacity: 70%;
    z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    margin-left: 120px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}


.blogmain{
    background-color: #333333;
    opacity: 80%;
    color: white;
    width: 70%;
    margin-left: 190px;
    margin-top: 400px;
}

.blog1{
    width: 80%;
    margin-left: 95px;
}

.GFimg{
    width: 750px;
}

.likeimg{
    width: 20px;
}

.end{
    width: 450px;
    margin-left: 250px;
    float: left;
    height: 10px;
}

.subblock {
    position: absolute;
    flex-direction: column;
    width: 100%;
}

.subblock li {
    display: none;
    position: relative;
}

.subblock li:hover .subblock-2 li {
    display: block;
}

.subblock li:hover .subblock-3 li {
    display: block;
}

