.image {
    position	: relative;
    width		: 100%; /* for IE 6 */
}

h2 {
    position	: absolute;
    top		: 50px;
    margin-left		: 550px;
    width		: 100%;
    color: black;
    Size: 10;
}
text{
    color:white;
}
Title{
    border-bottom-color: aqua;
}
.booktext{

}