h1{
    color:red;
    background: blue;
    border: 10px;
    border-color: yellow;
    border-style: dotted;
    margin: 5px;
    padding: 10px;
}
.Zuf{
    border: 10px black;
    border-bottom-style: dashed;
    border-radius: 5px;
}
.Islam{
    width: 50%;
    height: 50%;
    border: 10px black;
    border-bottom-style: dashed;
    border-radius: 5px;
}
.Kassym{
    text-align: center;
    background: aqua;
    margin: 25px;
    padding: 50px;
}
.China{
    font-weight: bold;
    font-style: Italic;
    text-decoration: underline;
}
.Zhasik{
    text-indent: 50px;
}
.Daur{
    letter-spacing: -3px;
    word-spacing: 10px;
}
.Alnur{
    text-transform: capitalize;
}
.Adil{
    text-transform: lowercase;
}
.Kama{
    text-transform: uppercase;
}
.Elina{
    line-height: 5px;
}
.Akerke{
    text-shadow: 3px 3px 1px red;
}
.block1 {
    width: 200px;
    background: green;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    float: right;
}
.block2 {
    width: 200px;
    background: green;
    padding: 5px;
    border: solid 1px black;
    float: left;
    position: relative;
    top: 40px;
    left: -70px;
.block3 {
}
}