.div1 {
    width: 100%;
    color: white;
    margin-left:225px;
}
.div2 {
    background-color: green;
    width: 280px;
    height: 430px;
    float: left;
    padding: 10px;
    border: solid 3px black;
    border-right: solid 6px black;
    border-bottom: none;
}
.div3 {
    background-color: grey;
    width: 280px;
    height: 430px;
    float: left;
    padding: 10px;
    border: solid 3px black;
    border-left: none;
    border-right: solid 6px black;
    border-bottom: none;
}
.div4 {
    background-color: green;
    width: 280px;
    height: 430px;
    float: left;
    padding: 10px;
    border: solid 3px black;
    border-left: none;
    border-bottom: none;
}
.div5 {
    background-color: #445162;
    width: 100%;
    height: 190px;
    color: white;
    padding-left: 10px;
}
.div6 {
    background-color:white;
    width: 330px;
    height: 140px;float: right;
    margin-top: -138px;
    margin-right: 30px;
}
.div7 {
    background-color: white;
    width:100%;
    height: 190px;
    color:#445162;
    padding-left: 10px;
}
.div8{
    background-color:#445162;
    width: 330px;
    height: 140px;
    float: right;
    margin-top: -138px;
    margin-right:30px;
}
.div9 {
    background-color: #445162;
    width: 100%;
    height: 350px;
    color:white;
    padding-top: 3px;
}
.form1{
    position: relative;
    width: 380px;
    margin-left:200px;
}
.input1{
    width: 100%;
    height: 20px;
    padding-left: 10px;
    border: 2px solid #445162;
    border-radius: 7px;
}
.img{
    margin-left: 630px;
    height: 165px;
    margin-top: -30px;
}
.form2{
    position: relative;
    width: 380px;
    margin-left:200px;
    margin-top: -150px;
}
.input2{
    width: 100%;
    height: 20px;
    padding-left: 10px;
    border: 2px solid #445162;
    border-radius: 7px;
}
.form3{
    position: relative;
    width: 380px;
    margin-left:200px;
}
.input3{
    width: 100%;
    height: 140px;
    padding-left: 10px;
    border: 2px solid #445162;
    border-radius: 7px;
}
.div10{
    background-color: white;
    color: black;
    clear: both;
}
.div11{
    background-color: #ff1b11;
    color:white;
    width:105%;
    height:100px;
    margin:-10px;
    float:left;
    text-align: center;
}
.div12{
    background-color: #757277;
    color:white;
    width: 15%;
    height: 550px;
    float:left;
    margin-left:-10px;
    margin-top: 10px;
    padding:10px;
    line-height: 10px;
}
.div13{
    width:83%;
    height:550px;
    float: right;
    text-align: center;
    margin-top:10px;
    color:black;
}
.div14{
    background-color: #ff7c68;
    text-align: center;
    width:105%;
    float:left;
    margin-left:-10px;
    height:80px;
    font-size: 1.5em;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}


.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}