.main{
    border: pink 4px solid;
    witdh: 90px;
    padding 15px;
    display: flex;
    flex-direction: column;

}

.notmain{
    border: blue 4px solid;
    margin: 4px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
}
.img1{
    width: 150px;
}
.notmain:nth-child(odd){
    float:left;
}
.notmain:nth-child(even){
    flow-direction: right;
    flex-direction: row-reverse;
}
h3{
    color: blue;

}

.main2{
    width: 100%;
    background-color: rgba(8,8,8,0.89);
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.home{
    width: 100%;
    height: 90%;
}

.reg{
    display:flex;
    width: 40%;
    border: 1px solid black;
    align-items: center;
    flex-flow: column;
    position: absolute;
    background-color: blue;
    padding: 20px;
    left: 30%;
}

.div12{

    border: 1px solid black;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    width: 90%;

}

h1{
    color: antiquewhite;
}