.div1{
    margin-left: 300px;
    width: 800px;
    margin-top: 150px;
}

.div2{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sp1{
    font-size: 70px;
    font-weight: bolder;
    color: darkblue;
}
.sp2{
    color: darkblue;
    font-size: 30px;
    font-weight: 500;
}
.sp3{
    color: red;
    font-size: 30px;
    font-weight: 500;
}
.div2 div{
    width: 150px;
    margin-left: 130px;
}
.div3:hover
{
    background-color: lightgrey;
}.div4:hover
{
    background-color: lightgrey;
}.div5:hover
{
    background-color: lightgrey;
}.div6:hover
{
    background-color: lightgrey;
}

.img1{
    width: 400px;
}

.div8{
    width: 400px;
    float: left;

}

.div9{
    width: 400px;
    float: left;
    margin-left: 100px;
}

.div10{
    background-color: darkblue;
    width: 400px;
    height: 200px;

}

.span1{
    color: white;
    font-size: 15px;
    font-weight: 500;
    opacity: 70%;
    margin-left: 30px;
}

.span2{
    color: white;
    font-size: 25px;
    font-weight: 650;
    margin-left: 30px;
}

.span3{
    color: white;
    font-size: 15px;
    margin-left: 30px;
}
.div7{
    margin-left: 250px;
    margin-top: 100px;
    height: 200px;
}

.div11{
    background-color: green;
    width: 400px;
    height: 200px;
}

.view{
    background-color: #ff1b11;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 360px;
    margin-top: 100px;
}

.view1{
    background-color: #ff1b11;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    ;

}

.authors{
    margin-top: 100px;
}

.marta{
    width: 20%;
    float: left;
    margin-left: 100px;
}



.names{
    font-size: 20px;
    font-weight: bold;
}

.martaimg{
    margin-left: 20px;
}

.found{
    font-style: italic;
    font-weight: 400;
}

.nav1{
    display: flex;
    padding: 0 20px;
    float: right;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.nav1:hover{
    color: blue;

}

.divheight{
    height: 20px;
}