.twekr{
    width: 10%;
    margin-left: 80px;
    margin-bottom: 0;
    margin-top: 20px;
}
.nav1{
    display: flex;
    padding: 0 20px;
    float: right;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.nav1:hover{
    color: blue;

}

.div1{
    font-size: 40px;
    font-weight: bolder;
}

.div2{
    width: 350px;
    margin-top: 150px;
    margin-left: 150px;
}

.div3{
    font-size: 20px;
    margin-top: 20px;
    line-height: 25px;
}

.button1{
    border-radius: 10px;
    color: white;
    background-color: blue;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    opacity: 70%;
}
.button1:hover{
    opacity: 100%;
}

.button2{
    border-radius: 10px;
    color: black;
    background-color: white;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    opacity: 70%;
}
.button2:hover{
    opacity: 100%;
}

.img{
    margin-top: -50px;
}

.button3{
    width: 400px;
    margin-left: 700px;
    margin-top: -250px;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    box-shadow: #445162;
}

.span1{
    font-size: 35px;
    font-weight: bold;
}
.span2{
    font-size: 25px;
}

.div5{
    background-color: #5852ff;
    width: 70px;
    margin-left: 160px;
    border-radius: 50px;
    height: 70px;
}

.img1{
    margin-top: 15px;
}

.div6{
    margin-top: 100px;
}

.span3{
    font-size: 40px;
    font-weight: bolder;
}

.span4{
    font-size: 20px;
}

.img3{
    width: 100px;
    margin-top: 100px;
}

.span5{
    font-size: 20px;
    font-weight: bold;
}

.div7{
    margin-left: 150px;
    float: left;
    width: 220px;

}

.div8{
    margin-left: 150px;
    float: left;
    width: 220px;
}

.div9{
    margin-left: 150px;
    float: left;
    width: 220px;
}

.span7{
    font-size: 40px;
    font-weight: bolder;
}
.div11
{
    margin-top: 400px;
}
.span8
{
    font-size: 50px;
}
.div12
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.div13
{
    padding-left: 200px;
    padding-top: 220px;
}